USE [master]
GO
/****** Object:  Database [QuidditchWorldCup]    Script Date: 31/12/2013 15:16:38 ******/
CREATE DATABASE [QuidditchWorldCup]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuidditchWorldCup', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\QuidditchWorldCup.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuidditchWorldCup_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\QuidditchWorldCup_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuidditchWorldCup].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuidditchWorldCup]
GO
/****** Object:  Table [dbo].[Coupes]    Script Date: 31/12/2013 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Annee] [int] NULL,
	[Titre] [nvarchar](50) NULL,
 CONSTRAINT [PK_COUPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Equipes]    Script Date: 31/12/2013 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Pays] [nvarchar](50) NULL,
	[Nom] [nvarchar](50) NULL,
 CONSTRAINT [PK_EQUIPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Joueurs]    Script Date: 31/12/2013 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Joueurs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Prenom] [nvarchar](50) NULL,
	[Nom] [nvarchar](50) NULL,
	[DateNaissance] [datetime] NULL,
	[EquipeID] [int] NULL,
	[PosteID] [int] NULL,
	[Captaine] [bit] NULL,
 CONSTRAINT [PK_JOUEURS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Matchs]    Script Date: 31/12/2013 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matchs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CoupeID] [int] NULL,
	[StadeID] [int] NULL,
	[MatchTypeID] [int] NULL,
	[DomicileID] [int] NULL,
	[VisiteurID] [int] NULL,
	[ScoreDomicile] [int] NULL,
	[ScoreVisiteur] [int] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_MATCHES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatchTypes]    Script Date: 31/12/2013 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_MatchTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Postes]    Script Date: 31/12/2013 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_POSTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 31/12/2013 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SpectateurID] [int] NULL,
	[MatcheID] [int] NULL,
	[NombrePlacesReservees] [int] NULL,
	[CodeAnnulation] [nvarchar](6) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Spectateurs]    Script Date: 31/12/2013 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spectateurs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Prenom] [nvarchar](50) NULL,
	[Nom] [nvarchar](50) NULL,
	[DateNaissance] [datetime] NULL,
	[Adresse] [nvarchar](50) NULL,
	[EMail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Spectateurs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stades]    Script Date: 31/12/2013 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stades](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](50) NULL,
	[Adresse] [nvarchar](50) NULL,
	[NombrePlacesDisponibles] [int] NULL,
	[PourcentageCommision] [real] NULL,
 CONSTRAINT [PK_STADES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Coupes] ON 

INSERT [dbo].[Coupes] ([ID], [Annee], [Titre]) VALUES (1, 2010, N'422e coupe du Monde')
SET IDENTITY_INSERT [dbo].[Coupes] OFF
SET IDENTITY_INSERT [dbo].[Equipes] ON 

INSERT [dbo].[Equipes] ([ID], [Pays], [Nom]) VALUES (1, N'Angleterre', N'Equipe Nationale : Angleterre')
INSERT [dbo].[Equipes] ([ID], [Pays], [Nom]) VALUES (2, N'Argentine', N'Equipe Nationale : Argentine')
INSERT [dbo].[Equipes] ([ID], [Pays], [Nom]) VALUES (3, N'Australie', N'Equipe Nationale : Australie')
SET IDENTITY_INSERT [dbo].[Equipes] OFF
SET IDENTITY_INSERT [dbo].[Joueurs] ON 

INSERT [dbo].[Joueurs] ([ID], [Prenom], [Nom], [DateNaissance], [EquipeID], [PosteID], [Captaine]) VALUES (635, N'Dina', N'Pittmon', CAST(0x00002F7E00000000 AS DateTime), 1, 1, 0)
INSERT [dbo].[Joueurs] ([ID], [Prenom], [Nom], [DateNaissance], [EquipeID], [PosteID], [Captaine]) VALUES (636, N'Casandra', N'Eisert', CAST(0x00000C7000000000 AS DateTime), 1, 2, 0)
INSERT [dbo].[Joueurs] ([ID], [Prenom], [Nom], [DateNaissance], [EquipeID], [PosteID], [Captaine]) VALUES (637, N'Agueda', N'Hardisty', CAST(0x0000271600000000 AS DateTime), 1, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[Joueurs] OFF
SET IDENTITY_INSERT [dbo].[Matchs] ON 

INSERT [dbo].[Matchs] ([ID], [CoupeID], [StadeID], [MatchTypeID], [DomicileID], [VisiteurID], [ScoreDomicile], [ScoreVisiteur], [Date]) VALUES (1, 1, 1, 1, 1, 8, 100, 80, CAST(0x0000A28700000000 AS DateTime))
INSERT [dbo].[Matchs] ([ID], [CoupeID], [StadeID], [MatchTypeID], [DomicileID], [VisiteurID], [ScoreDomicile], [ScoreVisiteur], [Date]) VALUES (2, 1, 2, 1, 2, 7, 30, 270, CAST(0x0000A28700000000 AS DateTime))
INSERT [dbo].[Matchs] ([ID], [CoupeID], [StadeID], [MatchTypeID], [DomicileID], [VisiteurID], [ScoreDomicile], [ScoreVisiteur], [Date]) VALUES (3, 1, 3, 1, 3, 6, 0, 300, CAST(0x0000A28700000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Matchs] OFF
SET IDENTITY_INSERT [dbo].[MatchTypes] ON 

INSERT [dbo].[MatchTypes] ([ID], [Description]) VALUES (1, N'Quart')
INSERT [dbo].[MatchTypes] ([ID], [Description]) VALUES (2, N'Demi')
INSERT [dbo].[MatchTypes] ([ID], [Description]) VALUES (3, N'Finale')
SET IDENTITY_INSERT [dbo].[MatchTypes] OFF
SET IDENTITY_INSERT [dbo].[Postes] ON 

INSERT [dbo].[Postes] ([ID], [Description]) VALUES (1, N'Attrapeur')
INSERT [dbo].[Postes] ([ID], [Description]) VALUES (2, N'Batteur
')
INSERT [dbo].[Postes] ([ID], [Description]) VALUES (3, N'Gardien
')
SET IDENTITY_INSERT [dbo].[Postes] OFF
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ID], [SpectateurID], [MatcheID], [NombrePlacesReservees], [CodeAnnulation]) VALUES (1, 1, 1, 3, N'1234')
INSERT [dbo].[Reservations] ([ID], [SpectateurID], [MatcheID], [NombrePlacesReservees], [CodeAnnulation]) VALUES (2, 2, 2, 1, N'5678')
INSERT [dbo].[Reservations] ([ID], [SpectateurID], [MatcheID], [NombrePlacesReservees], [CodeAnnulation]) VALUES (3, 3, 4, 8, N'1468')
SET IDENTITY_INSERT [dbo].[Reservations] OFF
SET IDENTITY_INSERT [dbo].[Spectateurs] ON 

INSERT [dbo].[Spectateurs] ([ID], [Prenom], [Nom], [DateNaissance], [Adresse], [EMail]) VALUES (1, N'Harry', N'Potter', CAST(0x000072F700000000 AS DateTime), N'The Cupboard under the Stairs 4 Privet Drive', N'harry.potter@hogwarts.com')
INSERT [dbo].[Spectateurs] ([ID], [Prenom], [Nom], [DateNaissance], [Adresse], [EMail]) VALUES (2, N'Hermione', N'Granger', CAST(0x000071BB00000000 AS DateTime), N'Chez les moldus', N'hermione.granger@hogwarts.com')
INSERT [dbo].[Spectateurs] ([ID], [Prenom], [Nom], [DateNaissance], [Adresse], [EMail]) VALUES (3, N'Ronald', N'Weasley', CAST(0x0000725F00000000 AS DateTime), N'Le Terrier', N'ronald.weasley@hogwarts.com')
SET IDENTITY_INSERT [dbo].[Spectateurs] OFF
SET IDENTITY_INSERT [dbo].[Stades] ON 

INSERT [dbo].[Stades] ([ID], [Nom], [Adresse], [NombrePlacesDisponibles], [PourcentageCommision]) VALUES (1, N'Twickenham', N'Twickenham, place du Stade', 82000, 19)
INSERT [dbo].[Stades] ([ID], [Nom], [Adresse], [NombrePlacesDisponibles], [PourcentageCommision]) VALUES (2, N'Wembley', N'Wembley, place du Stade', 90000, 18)
INSERT [dbo].[Stades] ([ID], [Nom], [Adresse], [NombrePlacesDisponibles], [PourcentageCommision]) VALUES (3, N'Stade olympique', N'Stade olympique, place du Stade', 80000, 17)
SET IDENTITY_INSERT [dbo].[Stades] OFF
ALTER TABLE [dbo].[Joueurs]  WITH CHECK ADD  CONSTRAINT [FK_Joueurs_Equipes] FOREIGN KEY([EquipeID])
REFERENCES [dbo].[Equipes] ([ID])
GO
ALTER TABLE [dbo].[Joueurs] CHECK CONSTRAINT [FK_Joueurs_Equipes]
GO
ALTER TABLE [dbo].[Joueurs]  WITH CHECK ADD  CONSTRAINT [FK_Joueurs_Postes] FOREIGN KEY([PosteID])
REFERENCES [dbo].[Postes] ([ID])
GO
ALTER TABLE [dbo].[Joueurs] CHECK CONSTRAINT [FK_Joueurs_Postes]
GO
ALTER TABLE [dbo].[Matchs]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Coupes] FOREIGN KEY([CoupeID])
REFERENCES [dbo].[Coupes] ([ID])
GO
ALTER TABLE [dbo].[Matchs] CHECK CONSTRAINT [FK_Matches_Coupes]
GO
ALTER TABLE [dbo].[Matchs]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Equipes_Domiciles] FOREIGN KEY([DomicileID])
REFERENCES [dbo].[Equipes] ([ID])
GO
ALTER TABLE [dbo].[Matchs] CHECK CONSTRAINT [FK_Matches_Equipes_Domiciles]
GO
ALTER TABLE [dbo].[Matchs]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Equipes_Visiteurs] FOREIGN KEY([VisiteurID])
REFERENCES [dbo].[Equipes] ([ID])
GO
ALTER TABLE [dbo].[Matchs] CHECK CONSTRAINT [FK_Matches_Equipes_Visiteurs]
GO
ALTER TABLE [dbo].[Matchs]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Stades] FOREIGN KEY([StadeID])
REFERENCES [dbo].[Stades] ([ID])
GO
ALTER TABLE [dbo].[Matchs] CHECK CONSTRAINT [FK_Matches_Stades]
GO
ALTER TABLE [dbo].[Matchs]  WITH CHECK ADD  CONSTRAINT [FK_Matchs_MatchTypes] FOREIGN KEY([MatchTypeID])
REFERENCES [dbo].[MatchTypes] ([ID])
GO
ALTER TABLE [dbo].[Matchs] CHECK CONSTRAINT [FK_Matchs_MatchTypes]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Matches] FOREIGN KEY([MatcheID])
REFERENCES [dbo].[Matchs] ([ID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Matches]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Spectateurs] FOREIGN KEY([SpectateurID])
REFERENCES [dbo].[Spectateurs] ([ID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Spectateurs]
GO
USE [master]
GO
