<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceQuidditch" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58720/ServiceQuidditch.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceQuidditch"
                contract="ServiceReferenceQuidditch.IServiceQuidditch" name="BasicHttpBinding_IServiceQuidditch" />
        </client>
    </system.serviceModel>
</configuration>